<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        body {
            display:flex;
        }
        .sidepanel {
            width: 250px; 
            background: #f0f0f0;
            padding: 10px;
        }
        .body-content {
            background: #fff;
            overflow-y: auto;
            padding: 20px;

        }
    </style>
</head>
<body>
    <div class="flex justify-between w-full">
        <div class="sidepanel w-[20%]">
            {% include 'sidepanel.html' %}
        </div>

        <div class="w-full">
            {% include 'body.html' %}
        </div>
    </div>
</body>
</html>
